*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color:#f3e0e2;
}
.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
    width:80vw;
    margin: 0 auto;
}
main >*{
    flex-basis: 100%;
}
.login-form{
    background-color: #fff;
    text-align: center;
}
.login-form-heading{
    font-size: 2.5rem;
    font-weight: 700;
    margin:30px 0;
}
.fab{
    border: 2px solid #eeeeee;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
    font-size: 22px;
}
.fa-facebook-f{
    margin-right: 5px;
}
.fa-twitter{
    margin-left: 5px;
}
input{
    width: 80%;
    background-color: #eeeeee;
    font-size: 18px;
    padding: 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
form a{
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
    display: inline-block;
}
input[type="submit"]{
    width: 22%;
    background-color: #FF4828;
    color: #fff;
    cursor: pointer;
    margin-bottom: 25px;
    border-radius: 30px;
}


.login-text{
    background-image: linear-gradient(to right,#ff454d,#ff416a);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text{
    padding: 7rem;
}
.text h2{
    font-size: 2.2rem;
    color: #fff;
}
.text p{
    color: #fff;
    font-size: 1.1rem;
}
@media only screen and (max-width: 576px) {
    .main{
        width: 100%;
    }
    .login-form{
        width: 50%;
    }
    .login-text{
        width: 50%;
    }
    .login-form-heading{
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .fab{
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .fa-facebook-f{
        margin-right: 0px;
    }
    .fa-twitter{
        margin-left: 0px;
    }
    input{
        padding: 8px;
        margin-bottom: 0;
    }
    form a{
        font-size: 16px;
    }
    input[type="submit"]{
        width: 40%;
    }
    .text{
        padding: 3rem;
    }
    .text h2{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .text p{
        font-size: 18px;
        text-align: center;
        margin-top: 12px;
    }
  }
